---

- name: Create ansible tmp folder
  become: true
  ansible.builtin.file:
    path: /root/.ansible/tmp
    state: directory
    mode: '0750'

- name: Set DNS resolved server
  ansible.builtin.import_tasks: resolved.yml
  when: base_dns_resolved_server != ""

- name: Define operating system attributes
  ansible.builtin.import_tasks: attributes.yml

- name: Install common packages
  ansible.builtin.import_tasks: packages.yml

- name: Set user properties
  ansible.builtin.import_tasks: user.yml

...
