apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ k8s_man01_ip }}"
  bindPort: {{ k8s_controlplane_port }}
nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: unix:///var/run/crio/crio.sock
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  dnsDomain: cluster.local
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.96.0.0/12
controlPlaneEndpoint: "{{ k8s_controlplane_endpoint }}:{{ k8s_controlplane_port }}"
apiServer:
  certSANs:
{% for manager in k8s_managers %}
    - "{{ manager.ip }}"
    - "{{ manager.name }}"
{% endfor %}
etcd:
  local:
    serverCertSANs:
{% for manager in k8s_managers %}
    - "{{ manager.ip }}"
    - "{{ manager.name }}"
{% endfor %}
    peerCertSANs:
{% for manager in k8s_managers %}
    - "{{ manager.ip }}"
    - "{{ manager.name }}"
{% endfor %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
cgroupDriver: systemd
