apiVersion: kubeadm.k8s.io/v1beta3
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ k8s_controlplane_endpoint }}:{{ k8s_controlplane_port }}"
    token: "{{ k8s_token }}"
    caCertHashes: ["{{ k8s_cert_hash }}"]
nodeRegistration:
  name: "{{ inventory_hostname }}"
  criSocket: unix:///var/run/crio/crio.sock
  kubeletExtraArgs:
    cloud-provider: "external"
{% if k8s_managers_group_name in group_names %}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ k8s_node_ip }}"
    bindPort: {{ k8s_controlplane_port }}
  certificateKey: "{{ k8s_cert_key }}"
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serverTLSBootstrap: true
cgroupDriver: systemd
cloudProvider: "external"
