---

- name: Create rook namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          kubernetes.io/metadata.name: "{{ csi_rook_namespace }}"
          name: "{{ csi_rook_namespace }}"
          pod-security.kubernetes.io/enforce: privileged
        name: "{{ csi_rook_namespace }}"

- name: Add rook chart repo
  kubernetes.core.helm_repository:
    name: rook
    repo_url: "https://charts.rook.io/release"

- name: Deploy Rook
  kubernetes.core.helm:
    name: rook
    chart_ref: rook/rook-ceph
    chart_version: "{{ csi_rook_chart_version }}"
    release_namespace: "{{ csi_rook_namespace }}"
    values:
      operatorNamespace: "{{ csi_rook_namespace }}"

- name: Ensure CSI CRD is available
  ansible.builtin.pause:
    seconds: 5

- name: Rook CSI Cluster Init
  kubernetes.core.k8s:
    state: present
    template: templates/rook-cluster.yml.j2
  register: csi_cluster

- name: Wait for cephfs pods become ready
  ansible.builtin.command: |
    kubectl wait --namespace={{ csi_rook_namespace }} --for=condition=Ready pods --selector app={{ item }} --timeout=900s
  retries: 8
  delay: 120
  register: csi_wait
  until: csi_wait.rc == 0
  loop:
    - rook-ceph-operator
    - kube-rook.cephfs.csi.ceph.com-nodeplugin
    - kube-rook.rbd.csi.ceph.com-nodeplugin
  changed_when: false

- name: Rook Filesystem
  kubernetes.core.k8s:
    state: present
    template: templates/rook-filesystem.yml.j2

- name: Rook Block Storage
  kubernetes.core.k8s:
    state: present
    template: templates/rook-block.yml.j2

- name: Rook S3 Storage
  kubernetes.core.k8s:
    state: present
    template: templates/rook-bucket.yml.j2

...
