# Vagrant folder
/.vagrant
Vagrantfile

# tmp folder
/tmp

# local assets files
ansible/assets

ansible/collections/ansible_collections/**
!ansible/collections/ansible_collections/.gitkeep

# password file
ansible/group_vars/master/passwords

# ansible retry file
ansible/playbook.retry

# ansible inventory
ansible/inventory
ansible/tfinventory

# env files
ansible/sizing_vars.yml

# tf files
tf/openstack/sizing.tf
tf/openstack/.terraform.lock.hcl

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
