# Vagrant folder
/.vagrant

# tmp folder
/tmp

# password file
ansible/group_vars/master/passwords

# ansible retry file
ansible/playbook.retry

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
