# Default values for gitea.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

clusterDomain: cluster.local

image:
  repository: gitea/gitea
  tag: 1.17.3
  pullPolicy: Always

imagePullSecrets: []

securityContext: {}

service:
  http:
    type: ClusterIP
    port: 3000
    clusterIP: None
    annotations:
  ssh:
    type: ClusterIP
    port: 22
    clusterIP: None
    loadBalancerSourceRanges: []
    annotations:

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: '{{ gitea_ssl }}'
  hosts:
    - host: "{{ gitea_domain }}"
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: {{ ingress_cert_name }}
      hosts:
        - "{{ gitea_domain }}"

persistence:
  enabled: {{ gitea_persistence_disk }}
  # existingClaim: gitea-pvc
{% if gitea_persistence_disk | bool %}
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClass: standard
{% endif %}
  labels: {}
  annotations: {}

gitea:
  admin:
    username: gitea_admin
    password: r8sA8CPHD9!bt6d
    email: "gitea@local.domain"

  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
      # prometheusSelector: default

  livenessProbe:
    enabled: true
    initialDelaySeconds: 200
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    timeoutSeconds: 1
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 3
  startupProbe:
    enabled: false
    initialDelaySeconds: 60
    periodSeconds: 10
    successThreshold: 1
    failureThreshold: 10

memcached:
  enabled: true
  service:
    port: 11211

postgresql:
  enabled: true
  global:
    postgresql:
      postgresqlDatabase: gitea
      postgresqlUsername: gitea
      postgresqlPassword: gitea
      servicePort: 5432
  persistence:
    enabled: {{ gitea_persistence_disk }}
{% if gitea_persistence_disk | bool %}
    size: 4Gi
{% endif %}

