apiVersion: ceph.rook.io/v1
kind: CephCluster
metadata:
  name: {{ csi_rook_namespace }}
  namespace: kube-rook
spec:
  cephVersion:
    image: quay.io/ceph/ceph:v17.2.6
  dataDirHostPath: /var/lib/rook
  mon:
    count: 3
    allowMultiplePerNode: false
  dashboard:
    enabled: true
  # cluster level storage configuration and selection
  storage:
    useAllNodes: false
    useAllDevices: false
    deviceFilter:
    nodes:
{% for k8s_node in csi_k8s_nodes %}
    - name: "{{ k8s_node }}"
      devices:
      - name: "sdb"
{% endfor %}
