---
apiVersion: constraints.gatekeeper.sh/v1beta1
kind: K8sRequiredLabels
metadata:
  name: ns-must-have-pod-security-label
spec:
  match:
    namespaces: ["project-*"]
    excludedNamespaces: ["kube-*", "calico-*", "tigera-*"]
    scope: Namespaced
    kinds:
      - apiGroups: [""]
        kinds: ["Namespace"]
  parameters:
    labels: ["pod-security.kubernetes.io/enforce"]
...
