---

sizing_dashboard_deploy: 1
sizing_gitea_deploy: 1
sizing_registry_deploy: 1
sizing_sonar_deploy: 1
sizing_jenkinsx_deploy: 0
sizing_istio_deploy: 0

sizing_k8s_node1_ip: "{{ hostvars[groups['nodes'][0]]['ansible_host'] }}"
sizing_k8s_node2_ip: "{{ hostvars[groups['nodes'][1]]['ansible_host'] }}"

sizing_k8s_nodes:
  - { name: "{{ hostvars[groups['nodes'][0]]['inventory_hostname'] }}", ip: "{{ sizing_k8s_node1_ip }}" }
  - { name: "{{ hostvars[groups['nodes'][1]]['inventory_hostname'] }}", ip: "{{ sizing_k8s_node2_ip }}" }

