---

- name: Disable swap
  become: true
  ansible.builtin.shell: |
    swapoff -a
    touch {{ ansible_facts['env']['HOME'] }}/.swap_disabled
  args:
    creates: "{{ ansible_facts['env']['HOME'] }}/.swap_disabled"

- name: Remove Swap from fstab
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/fstab
    regexp: '^.*swap.*$'
    state: absent

...
