name: Linter
on: [push, pull_request]

jobs:
  build:
    name: Ansible Lint # Naming the build is important to use it as a status check
    runs-on: ubuntu-latest

    steps:
      # Important: This sets up your GITHUB_WORKSPACE environment variable
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed for progressive mode to work

      - name: copy .ansible-lint
        shell: bash
        run: |
          cp ansible/.ansible-lint .
          cp ansible/requirements.yml .

      - name: Run ansible-lint
        uses: ansible/ansible-lint@v25.5.0
