---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ kubedashboard_sa }}
  namespace: {{ kubedashboard_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{ kubedashboard_role }}
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- nonResourceURLs:
  - '*'
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ kubedashboard_rolebinding }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ kubedashboard_role }}
subjects:
- kind: ServiceAccount
  name: {{ kubedashboard_sa }}
  namespace: {{ kubedashboard_namespace }}
...
